<!DOCTYPE html>
<html>
  <head>
    <title>SugarcreekTransformer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
      <p role="status"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
